@model KitProjects.ChoiceVisualizer.Models.ResultsViewModel
<ol>
    <li>
        <img src="@($"data:{Model.Winner.Choice.Image.ContentType};base64, {Model.Winner.Choice.Image.Base64}")" width="500" />
        <br />
        @Model.Winner.Choice.Title
    </li>
    <li>
        <img src="@($"data:{Model.SecondPlace.Choice.Image.ContentType};base64, {Model.SecondPlace.Choice.Image.Base64}")" width="500" />
        <br />
        @Model.SecondPlace.Choice.Title
    </li>
    <li>
        <img src="@($"data:{Model.ThirdPlace.Choice.Image.ContentType};base64, {Model.ThirdPlace.Choice.Image.Base64}")" width="500" />
        <br />
        @Model.ThirdPlace.Choice.Title
    </li>
</ol>